<main class="container p-5">
  <section class="mb-5">
    <h1 class="mb-3">Form</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <app-yes-no-button-group
        [appDisabledControl]="true"
        formControlName="yesNoAnswer"
        label="Você sabe o suficiente sobre Angular?"
      >
      </app-yes-no-button-group>
      <button>Enviar</button>
    </form>
  </section>

  <h2>Modal Acessível</h2>
  <p>Bem vindo ao modal acessível de teste</p>
  <button class="btn btn-primary mb-4" type="button" (click)="show()">
    Abrir o modal
  </button>
</main>
<ng-template #modal>
  <form
    [formGroup]="formModal"
    (ngSubmit)="submitModal()"
    class="needs-validation"
    novalidate
  >
    <div class="mb-4">
      <label for="firstName" class="form-label">Nome</label>
      <input
      aria-describedby="nome-error"
        id="firstName"
        class="form-control"
        type="text"
        formControlName="name"
        [attr.aria-invalid]="formModal.get('name').invalid"
      />
      <span id="nome-error" class="invalid" *ngIf="formModal.get('name')?.errors?.required"
        >Campo obrigatório!</span
      >
    </div>
    <div class="mb-4">
      <label for="surname" class="form-label">Sobrenome</label>
      <input
      aria-describedby="surname-error"
        id="surname"
        formControlName="surname"
        class="form-control"
        type="text"
        [attr.aria-invalid]="formModal.get('surname').invalid"
      />
      <span id="surname-error" class="invalid" *ngIf="formModal.get('surname')?.errors?.required"
        >Campo obrigatório!</span
      >
    </div>
    <div class="mb-4">
      <label for="age" class="form-label">Idade</label>
      <input
      aria-describedby="age-error"
        id="age"
        class="form-control"
        formControlName="age"
        type="text"
        [attr.aria-invalid]="formModal.get('age').invalid"
      />
      <span class="invalid" id="age-error" *ngIf="formModal.get('age')?.errors?.required"
        >Campo obrigatório!</span
      >
    </div>
    <div class="form-check">
      <label for="info" class="form-check-label"
        >Inscrever para receber novidades</label
      >
      <input
        formControlName="info"
        id="info"
        class="form-check-input"
        type="checkbox"
        (change)="info = !info"
      />
      <p [@fade] *ngIf="info">Este é um placeholder para mais informações</p>
    </div>
    <div class="btn-group">
      <button
        class="btn btn-success"
        type="submit"
        [attr.aria.disabled]="formModal.invalid"
      >
        Enviar
      </button>
      <button
        class="btn btn-secondary"
        type="button"
        (click)="modalRef.close()"
      >
        Cancelar
      </button>
    </div>
  </form>
</ng-template>
